img#prova{
    width: 200px;
    height: 200px;
}

img#prova:hover{
    filter: brightness(60%);
}

td{
    text-align: center;
}

table{
    position: relative;
    top: 100px;
    left: 10vw;
    width: 80vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}